#login-page { 
    font-family: 'Inter', sans-serif; 
} 


#login-form-container { 
    padding: 40px 50px; 
    border-radius: 16px; 
    width: 360px; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
} 


#login-form-container::before { 
    content: "$"; 
    color: #009143; 
    font-size: 48px; 
} 

#login-form-container h1 { 
    font-size: 22px; 
    font-weight: 600; 
    margin-bottom: 4px; 
    color: #2c2c2c; 
} 

#login-form-container p { 
    font-size: 13px; 
    color: #666; 
    margin-bottom: 24px; 
} 

#login-form input { 
    width: 100%; 
    padding: 12px; 
    margin-bottom: 16px; 
    border: 1px solid #dcdcdc; 
    border-radius: 8px; 
    outline: none; 
} 

#login-form input:focus { 
    border-color: #00b050; 
} 

#login-form button { 
    width: 100%; 
    padding: 12px; 
    background-color: #00b050; 
    color: #fff; 
    font-weight: 600; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background 0.3s ease; 
} 

#login-form button:hover { 
    background-color: #009143; 
} 

/* esqueci a senha */ 
#login-form .options { 
    display: flex; 
    align-items: center; 
    font-size: 13px; 
    margin-bottom: 16px; 
} 

#login-form a { 
    color: #007bff; 
} 

#login-form a:hover { 
    text-decoration: underline; 
}
